 .u-section-1 {
  margin-top: 20px;
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 68px auto 0;
}

.u-section-1 .u-group-1 {
  width: 598px;
  min-height: 293px;
  height: auto;
  margin: 25px auto 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/photo_2023-10-25_11-24-39.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-social-icons-1 {
  height: 110px;
  min-height: 16px;
  width: 592px;
  min-width: 120px;
  margin: 25px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 119px;
}

.u-section-1 .u-icon-2 {
  height: 119px;
}

.u-section-1 .u-icon-3 {
  height: 119px;
}

.u-section-1 .u-icon-4 {
  height: 119px;
}

.u-section-1 .u-icon-5 {
  height: 120px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 99px;
    width: 534px;
    margin-top: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 91px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 58px;
    width: 331px;
    margin-top: 53px;
    margin-bottom: 42px;
  }
}