 .u-section-1 {
  background-image: none;
  margin-top: 20px;
}

.u-section-1 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 100px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 234px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 67px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 234px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 264px;
  min-width: 148px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-3 {
  color: rgb(3, 169, 244) !important;
}

.u-section-1 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(0, 119, 183) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 193px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 193px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 35px;
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 156px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 245px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 98px;
  }
}