 .u-section-1 {
  margin-top: 20px;
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 45px auto 0;
}

.u-section-1 .u-group-1 {
  width: 669px;
  min-height: 328px;
  height: auto;
  margin: 29px auto 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/photo_2023-10-25_11-24-39.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-social-icons-1 {
  height: 119px;
  min-height: 16px;
  width: 635px;
  min-width: 120px;
  margin: 29px auto 5px;
}

.u-section-1 .u-icon-1 {
  height: 119px;
}

.u-section-1 .u-icon-2 {
  height: 119px;
}

.u-section-1 .u-icon-3 {
  height: 119px;
}

.u-section-1 .u-icon-4 {
  height: 119px;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 99px;
    width: 534px;
    margin-top: 54px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 91px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 58px;
    width: 331px;
    margin-top: 53px;
    margin-bottom: 42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}